.container {
    margin-left: $left-menu-width;
    padding: $top-padding + 0.8rem $left-padding;
    height: 100%;
    color: #333;
}

.container article h2 {
    font-size: 2rem;
    margin: 0 0 2rem 0;
}

.container article {
    font-size: 1.4rem;
    line-height: 1.4;
}

.main-title-mobile {
    display: none;
    margin: 0 0 2rem 0;
}

.article-date {
    float: right;
    color: #777;
}

@media (max-width: 1023px) {
    .main-title-mobile {
        display: block;
        margin: 0 0 2rem 0;
        font-size: 2.8rem;
    }

    .container {
        margin-left: 0;
    }
}
