.container {
    margin-left: $left-menu-width;
    padding: $top-padding + 0.8rem $left-padding;
    height: 100%;
    color: #333;
}

.main-title-mobile {
    display: none;
    margin: 0 0 2rem 0;
}

.article-date {
    float: right;
    color: #777;
}

img {
    max-width: 100%;
}

img[alt=""],
img:not([alt]) {
    border: 5px dashed red;
}

@media (max-width: 1023px) {
    .main-title-mobile {
        display: block;
        margin: 0 0 2rem 0;
        font-size: 2.8rem;
    }

    .container {
        margin-left: 0;
    }
}
