.main-title {
    color: $left-menu-color;
    margin: 0 0 2rem 0;
    font-size: 2.8rem;
}

.main-title a {
    color: $left-menu-color;
    text-decoration: none;
}

.main-title a:hover {
    text-decoration: underline;
}

.menu-item {
    color: $left-menu-color;
    text-decoration: none;
    font-size: 1.6rem;
    display: block;
    margin-bottom: 0.8rem;
}

.menu-item:hover {
    text-decoration: underline;
}

@media (min-width: 1024px) {
    .left-menu {
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        background-color: $left-menu-bg-color;
        box-sizing: border-box;
        padding: $top-padding $left-padding;
        width: $left-menu-width;
        line-height: 1.4;
    }
}

@media (max-width: 1023px) {
    .main-title {
        display: none;
    }

    .left-menu {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: $left-menu-bg-color;
        box-sizing: border-box;
        overflow: hidden;
        line-height: 1.4;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }

    .menu-item {
        margin-bottom: 0;
        padding: 0.8rem 0;
    }
}
